/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');
/* General style */
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    background-color: #f5f2e8;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

.section{
    background-color: #f5f2e8;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}


.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color: rgb(47, 46, 46);
    font-weight: 700;
    margin: 0;
    position: relative;
}

.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

.padding-15{
    padding-right: 15px;
    padding-left: 15px;
}

.main-content{
    padding-left: 270px;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.shadow-dark{
    -webkit-box-shadow: 0 0 20px rgba(57, 57, 59, 0.20);
    box-shadow: 0 0 20px rgba(57, 57, 59, 0.20);
}

.btn{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.hidden{
    display: none!important;
}

/* Aside */
.aside{
    width: 270px;
    background-color: #edeae0;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-right: 1px solid #c4c1c4;
    padding: 30px;
}

.aside .logo{
    padding: 20px 0;
}

.aside .logo a{
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color: rgb(47, 46, 46);
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: 70px;
    padding:0 5px;
}


.aside .logo a::before{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.aside .logo a::after{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid #c4c1c4;
    position: fixed;
    left: 300px;
    top: 30px;
    z-index: 11;
    border-radius: 5px;
    background-color: #edeae0;
    /* display: -ms-flexbox;
    display: flex; */
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 0;
}


.aside .nav{
    list-style: none;
    margin: 80px 0;
    padding: 0;
}

.aside .nav li{
    display: block;
}

.aside .nav li a{
    font-size: 25px;
    font-weight: 600;
    color: rgb(47, 46, 46);
    text-decoration: none;
    line-height: 5rem;
    display: block;
    border-bottom: 1px solid #c4c1c4;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.aside .nav li a:not(.active):hover{
    padding-left: 5px;
}

.aside .nav li a .fa{
    margin-right: 10px;
}

.aside .copyright-text{
    font-size: 16px;
    color: #bebebb;
    padding-left: 8px;
    user-select: none;
}
/* Home */

.home{
    min-height: 100vh; 
    display: -ms-flexbox;
    display: flex;
    user-select: none;
}

.home .intro{
    text-align: center;
}

.home .intro img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid white;
}

.home .intro h1{
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: rgb(47, 46, 46);
    font-weight: 700;
    margin: 20px 0 8px;
}

.home .intro p{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
    color: rgb(63, 61, 61);
}

.home .intro .social{
    margin-top: 25px;
}

.home .intro .social a{
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: white;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.home .intro .social a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* About */

.about .about-content{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #f5f2e8;
}

.about .about-content .about-text{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: rgb(47, 46, 46);
}

.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
}

.about .about-content .personal-info{
    /* background-color: red; */
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item{
    
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(47, 46, 46);
    margin: 0;
    border-bottom: 1px solid #c4c1c4;
}

.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: rgb(47, 46, 46);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .button{
    margin-top: 30px;
}

.about .about-content .personal-info .button .btn{
    margin-right: 15px;
    margin-top: 10px;

}

.about .about-content .skills{
    /* background-color: blue; */
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item{
    /* background-color: red; */
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.about .about-content .skills .skill-item h5{
    color: rgb(47, 46, 46);
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
} 

.about .about-content .skills .skill-item .progress{
    background-color:#c4c1c4;
    height: 8px;
    width: 100%;
    border-radius: 4px;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
}

.about .about-content .skills .skill-item .skill-percent{
    /* display: none; */
    line-height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    color: rgb(47, 46, 46);
}

/* Service Section */

