/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');
/* General style */
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

section{
    background-color: #f5f2e8;
    min-height: 100vh;
    display: block;
}

.main-content{
    padding-left: 270px;
}
/* Aside */
.aside{
    width: 270px;
    background-color: #edeae0;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-right: 1px solid #c4c1c4;
    padding: 30px;
}

.aside .logo{
    padding: 20px 0;
}

.aside .logo a{
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color: rgb(47, 46, 46);
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    background-color: #dfded9;
    position: relative;
}

.aside .logo a::before{
    content: '';
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.aside .logo a::after{

}

.aside .nav{
    list-style: none;
    background-color: #dfded9;
    margin: 80px 0;
}

.aside .copyright-text{
    background-color: #dfded9;
}
/* Home */