/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&display=swap');
/* General style */
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    background-color: #f5f2e8;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

input,textarea,select{
    font-family: 'Montserrat Alternates', sans-serif;
}

.section{
    background-color: #f5f2e8;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.section.back-section{
    z-index: 1;
}

.section.active{
    opacity: 1;
    z-index: 2;
    -webkit-animation: slideSection 1s ease;
    animation: slideSection 1s ease;
}

@-webkit-keyframes slideSection{
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slideSection{
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color: rgb(47, 46, 46);
    font-weight: 700;
    margin: 0;
    position: relative;
}

.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

.padding-15{
    padding-right: 15px;
    padding-left: 15px;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.shadow-dark{
    -webkit-box-shadow: 0 0 30px rgba(57, 57, 59, 0.30);
    box-shadow: 0 0 30px rgba(57, 57, 59, 0.30);
}

.btn{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.btn:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.hidden{
    display: none!important;
}

/* Preloader */

.preloader{
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.preloader.opacity-0{
    opacity: 0;
}

.preloader .loader{
    height: 50px;
    width: 50px;
    border: 4px solid #f40303;
    border-radius: 50%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}



/* Aside */
.aside{
    width: 270px;
    background-color: #edeae0;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-right: 1px solid #c4c1c4;
    padding: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.aside .logo{
    padding: 20px 0;
}

.aside .logo a{
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    color: rgb(47, 46, 46);
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: 70px;
    padding:0 5px;
}


.aside .logo a::before{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.aside .logo a::after{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid #c4c1c4;
    position: fixed;
    left: 300px;
    top: 20px;
    z-index: 11;
    border-radius: 5px;
    background-color: #edeae0;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span{
    background-color: transparent;
}

.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav{
    list-style: none;
    margin: 50px 0;
    padding: 0;
}

.aside .nav li{
    display: block;
}

.aside .nav li a{
    font-size: 25px;
    font-weight: 600;
    color: rgb(47, 46, 46);
    text-decoration: none;
    line-height: 5rem;
    display: block;
    border-bottom: 1px solid #c4c1c4;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.aside .nav li a:not(.active):hover{
    padding-left: 5px;
}

.aside .nav li a .fa{
    margin-right: 10px;
}

.aside .copyright-text{
    font-size: 16px;
    color: #bebebb;
    padding-left: 8px;
    user-select: none;
}
/* Home */

.home{
    min-height: 100vh; 
    display: -ms-flexbox;
    display: flex;
    user-select: none;
}

.home .intro{
    text-align: center;
}

.home .intro img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.home .intro img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.home .intro h1{
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: rgb(47, 46, 46);
    font-weight: 700;
    margin: 20px 0 8px;
}

.home .intro p{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 22px;
    color: rgb(63, 61, 61);
}

.home .intro .social{
    margin-top: 25px;
}

.home .intro .social a{
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: white;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.home .intro .social a:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/* About */

.about .about-content{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #f5f2e8;
}

.about .about-content .about-text{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: rgb(47, 46, 46);
}

.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
}

.about .about-content .personal-info{
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item{
    
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(47, 46, 46);
    margin: 0;
    border-bottom: 1px solid #c4c1c4;
}

.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: rgb(47, 46, 46);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .button{
    margin-top: 30px;
}

.about .about-content .personal-info .button .btn{
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills{
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.about .about-content .skills .skill-item h5{
    color: rgb(47, 46, 46);
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
} 

.about .about-content .skills .skill-item .progress{
    background-color:#c4c1c4;
    height: 8px;
    width: 100%;
    border-radius: 4px;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
}

.about .about-content .skills .skill-item .skill-percent{
    line-height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    color: rgb(47, 46, 46);
}

.about .about-content .row .button span{
    font-family: 'Montserrat Alternates', sans-serif;
}

/* Service Section */

.service .container{
    padding-bottom: 40px ;
}

.service .service-item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
}

.service .service-item .service-item-inner{
    background-color: #EDEAE0;
    border: 1px solid #c4c1c4;
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service .service-item .service-item-inner:hover{
    -webkit-box-shadow: 0 0 20px rgba(57, 57, 59, 0.20);
    box-shadow: 0 0 20px rgba(57, 57, 59, 0.20);
}

.service .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    display: block;
    margin:0 auto 30px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service .service-item .service-item-inner .icon .fas{
    font-size: 40px;
    line-height: 60px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service .service-item .service-item-inner:hover .icon .fas{
    font-size: 25px;
    color: #EDEAE0;
}

.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(47, 46, 46);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p{
    font-size: 16px;
    color: rgb(47, 46, 46);
    line-height: 25px;
    margin: 0;
}

/* Portfolio */

.portfolio .container{
    padding-bottom: 40px;
}

.portfolio .portfolio-filter{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
}


.portfolio .portfolio-filter button{
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin:0 20px;
    color: rgb(47, 46, 46);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    padding-bottom: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.portfolio .portfolio-item{
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item.hide{
    display: none;
}

.portfolio .portfolio-item.show{
    display: block;
    animation: showItem 0.5s ease;
}

.portfolio .portfolio-item-inner{
    border: 4px solid #f8f7f5;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.portfolio .portfolio-item-inner .portfolio-img img{
    width: 100%;
    display: block;
    border-radius: 6px;
    cursor: default;
}

.portfolio .portfolio-item .portfolio-info h4{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}


/* Contact Section */

.contact .contact-form{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item{
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #c5c5c5;
    padding: 10px 25px;
    font-size: 16px;
    color: rgb(22, 22, 22);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact .contact-form .form-item textarea.form-control{
    height: 140px;
}

.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.contact .contact-form i{
    margin-right: 10px;
    font-weight: 700;
}


/* Responsive */

@media (max-width: 1199px){
    .aside .nav-toggler{
        display: -ms-flexbox;
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open{
        left: 300px;
    }

    .aside{
        left: -270px;
    }

    .aside.open{
        left: 0;
    }

    .section{
        left: 0;
    }

    .section.open{
        left: 270px;
    }

    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 991px){
    .portfolio .portfolio-item{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px){
    .contact .contact-form .col-6,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .skills,
    .about .about-content .personal-info{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 575px){
    .portfolio .portfolio-item{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio .portfolio-filter button{
        margin-bottom: 10px;
    }
}


/* Dark theme */

body.dark .section,
body.dark .about .about-content .about-text,
body.dark .about .about-content .personal-info .info-item,
body.dark .about .about-content .row{
    background-color: #0a0a0a;
}

body.dark .contact .contact-form .form-item .form-control,
body.dark .aside,
body.dark .aside .nav-toggler,
body.dark .service .service-item .service-item-inner,
body.dark .style-switcher,
body.dark .style-switcher .toggle-style-switcher{
    background-color: #1b1b1b;
}


body.dark .service .service-item .service-item-inner,
body.dark .service .service-item .service-item-inner p,
body.dark .service .service-item .service-item-inner h4,
body.dark .about .about-content .personal-info .info-item,
body.dark .about .about-content .personal-info .info-item p span,
body.dark .portfolio .portfolio-filter button,
body.dark .about .about-content .skills .skill-item,
body.dark .about .about-content .skills .skill-item .skill-percent,
body.dark .home .intro p,
body.dark .contact .contact-form .form-item .form-control,
body.dark .about .about-content .about-text p,
body.dark .about .about-content .skills .skill-item h5,
body.dark .about .about-content .personal-info .info-item p,
body.dark .about .about-content .about-text h3,
body.dark .section-title h2,
body.dark .home .intro h1,
body.dark .aside .logo a,
body.dark .aside .nav li a,
body.dark .style-switcher h5,
body.dark .style-switcher span{
    color: seashell;
}

body.dark .portfolio .portfolio-item-inner,
body.dark .aside .nav li a,
body.dark .about .about-content .personal-info .info-item p{
    border-color: #454545;
}

body.dark .shadow-dark{
    -webkit-box-shadow: none;
    box-shadow: none;
}

