.aside .logo a::before{
    border-top: 4px solid #fa00ff;
    border-left: 4px solid #fa00ff;
}

.aside .logo a::after{
    border-bottom: solid 4px #fa00ff;
    border-right: solid 4px #fa00ff;
}

.info-item a,
.about-text a,
.style-switcher .toggle-style-switcher .fas,
.portfolio .portfolio-item .portfolio-info .icon .fas,
.lightbox .lightbox-controls .prev-item .fas,
.lightbox .lightbox-controls .next-item .fas,
.portfolio .portfolio-filter button.active,
body.dark .portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fas,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a.active,
body.dark .aside .nav li a:hover,
.contact .contact-form .form-item .form-control,
body.dark .contact .contact-form .form-item .form-control,
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #fa00ff;
}


.service .service-item .service-item-inner:hover .icon,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social a{
    background-color: #fa00ff;
}

body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active{
    border-color: #fa00ff;
}

.contact .contact-form .form-item .form-control:focus,
.home .intro img:hover{
    border-color: #fa00ff;
    /* -webkit-box-shadow: 0 0 30px rgba(234, 0, 255, 0.322);
    box-shadow: 0 0 30px rgba(234, 0, 255, 0.3); */
}