.aside .logo a::before{
    border-top: 4px solid #E43B5C;
    border-left: 4px solid #E43B5C;
}

.aside .logo a::after{
    border-bottom: solid 4px #E43B5C;
    border-right: solid 4px #E43B5C;
}

.info-item a,
.about-text a,
.portfolio .portfolio-item .portfolio-info .icon .fas,
.lightbox .lightbox-controls .prev-item .fas,
.lightbox .lightbox-controls .next-item .fas,
.portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fas,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #E43B5C;
}


.service .service-item .service-item-inner:hover .icon,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social a{
    background-color: #E43B5C;
}

.portfolio .portfolio-filter button.active{
    border-color: #E43B5C;
}
